/node_modules
/public/hot
/public/storage
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs/*.log
composer.lock
package-lock.json
mix-manifest.json
/server/package-lock.json
/server/node_modules
/server/controllers
/server/exceptions
/server/global
/server/models
/server/routers
/public/uploads/
/public/mix-manifest
